.my-widget-container {

  [data-slick] {
    margin: 0;
  }

  .slick-dots {
    top: -50px;
    bottom: auto;
    li button:before {
      font-size: 10px;
    }
  }


  .slick-arrow {
    position: absolute;
    padding: 50px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50px;
    width: 22px;
    height: 42px;
    top: 40%;
    &:before, &:after {
      content: '' !important;
    }
    &:hover {
      background-color: rgba(222, 222, 222, 0.6);
    }
    &.slick-prev {
      background-image: url(http://dunice.ru/images/arrow-left.png);
      left: -100px;

    }
    &.slick-next {
      background-image: url(http://dunice.ru/images/arrow-right.png);
      right: -100px;
    }
  }

  .carousel {

    &.selection-allowed {
      .slide-item .top-content:hover {
        background-color: rgba(0,0,0,0.1);
      }
    }

    .slide-item {
      $top-content: 80%;
      $padding: 15px;

      position: relative;

      .top-content {
        position: absolute;
        top: 0; left: 0; right:0; bottom: 100% - $top-content;
        width: 100%;
        .image {
          height: 100%;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: contain;
        }

      }

      .bottom-content {
        position: absolute;
        top: $top-content; left: 0; right:0; bottom: 0;


        .title {
          font-weight: bold;
          text-transform: uppercase;
          padding: 0 $padding;
        }

        .left-subtitle {
          position: absolute;
          bottom: 0;
          left: 0;
          padding-left: $padding;
          color: grey;
        }

        .price {
          position: absolute;
          bottom: 0;
          right: 0;
          padding-right: $padding;
          color: red;
          font-weight: bold;
        }


      }

    }
  }

}

