.carousel{data-slick: slickOptions}
  :each item in items
    %div.slide-item
      .top-content
        .image{style: item.style}
      .bottom-content
        .title= item.title
        .left-subtitle= item.subtitle
        .price= item.price

